.carrinho {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    width: 90%;
}

.carrinhoContent {
    /* width: 100%; */
    margin: auto;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: auto;
}

.carrinhoTitle {
    padding: 10px;
    /* width: 100%; */
    box-sizing: border-box;
}

.carrinhoTitleTxt {
    /* width: 200px; */
    left: 0;
}

.carrinhoProdsBox {
    /* background: red; */
    display: flex;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    min-height: 200px;
}

.carrinhoProdsBoxContent {
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

.carrinhoProd {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    /* grid-auto-rows: 1fr; */
    padding: 15px;
    box-sizing: border-box;
}

.carrinhoProdImage {
    width: 100%;
    height: 100%;
    display: flex;
}

.carrinhoProdImageContent {
    width: 100%;
    margin: auto;
}

.carrinhoProdImageContent img {
    width: 100%;
    margin: auto;
}

.carrinhoProdPreco {
    width: 100%;
    display: flex;
}

.carrinhoProdName {
    width: 100%;
    display: flex;
}

.carrinhoProdNameContent {
    margin: auto;
    /* margin-ri: 0; */
}

.carrinhoProdPrecoContent {
    margin: auto;
}

.carrinhoProdQuantidade {
    width: 100%;
    display: flex;
}

.carrinhoProdQuantidadeContent {
    margin: auto;
    width: 50%;
}

.carrinhoProdQuantidadeInput {
    width: 100%;
}

.carrinhoProdQuantidadeInput input {
    width: 100%;
}

.carrinhoProdRemover {
    width: 100%;
    display: flex;
}

.carrinhoProdRemoverContent {
    margin: auto;
}

.carrinhoProdRemoverContent a {
    text-align: center;
}

.carrinhoFinalizar {
    width: 100%;
}

.carrinhoFinalizarContent {
    width: 100%;
}

.carrinhoSubtotal {
    width: 100%;
    /* display: flex; */
}

.carrinhoSubtotalContent {
    /* margin: auto; */
    /* right: 0; */
}

.carrinhoSubtotalContent h2 {
    text-align: right;
}

.carrinhoBtn {
    width: 100%;
    display: flex;
}

.carrinhoBtnContent {
    margin: auto;
    margin-right: 0;
    width: 30%;
}