.catalogoStruct {
    width: 100%;
}

.catFeedback {
    margin: auto;
    display: block;
    text-align: center;
}

.orderBar {
    width: 100%;
    display: flex;
}

.orderOrg {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "none none orderbar";
}

.order {
    grid-area: orderbar;
    width: 50%;
    margin: auto;
    right: 0;
}


.catalogo {
    width: 100%;
    /* display: flex; */
}

.catalogoProds {
    /* margin: auto; */
    width: 100%;
    display: block;
}

.prods {
    /* background: red; */
    margin: auto;
    display: block;
}

.prod {
    /* background: green; */
    margin: auto;
    /* background: green; */
    display: inline-grid;
    max-width: 300px;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    /* text-align: center; */
    /* height: 300px; */
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.prod div {

    box-sizing: border-box;
}

.prodImage {
    display: flex;
    position: relative;
}

.prodImg {
    margin: auto;
    position: relative;
}

.prodImg img {
    /* width: 100%; */
    position: relative;
    max-width: 100%;
    margin: 0;
}


.prodText {
    /* display: flex; */
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-rows: 3fr 1fr 2fr;

    grid-template-areas: "prodTxt""prodPrice""prodBtn";
    box-sizing: border-box;
}

.prodTextContent {
    grid-area: prodTxt;
    margin: auto;
}


.prodInfo {
    padding: 10px;
    bottom: 0;
    width: 100%;
}


.prodInfo h3 {
    margin: 0;
    font-weight: normal;
    /* font-size: 1.5ch; */
}

.prodPriceContent {
    grid-area: prodPrice;
    margin: auto;
}

.prodPrice {
    font-weight: bold;
    padding: 10px;
}

.prodBtnContent {
    grid-area: prodBtn;
    margin: auto;
}

.prodBtnContent div {
    font-weight: bold;
}

.prodBtn {
    width: 130px;
    display: flex;
    text-align: center;
    font-weight: bold;
    margin: auto;
    border-radius: 2px;
    border: 2px solid black;
}

.prodBtn a {
    margin: auto;
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
}

.prodBtn .standby {
    display: block;
}

.prodBtn:hover .standby {
    display: none;
}

.prodBtn .active {
    display: none;
}

.prodBtn:hover .active {
    display: block;
}

.emEstoque {
    border-color: rgb(65, 206, 43);
    color: rgb(65, 206, 43);
}

.emEstoque:hover {
    border-color: rgb(65, 206, 43);
    background: rgb(65, 206, 43);
    color: white;
}

.semEstoque {
    /* border-color: rgb(254, 64, 64);
    color: rgb(254, 64, 64); */
}

.semEstoque:hover {
    border-color: #242424;
    background: #242424;
    color: white;
}

.prodText {
    padding: 10px;
}