.footer {
    grid-area: footer;
    margin: auto;
    width: 100%;
    display: flex;
    background-color: #fafafa;
}

.footerContato a,
.footerTopo a {
    text-decoration: none;
}

.footerContato a:hover,
.footerTopo a:hover {
    text-decoration: underline;
}

.footerContent {
    margin: auto;
    width: 100%;
    /* display: flex; */
}

.footerMenu {
    /* height: 70px; */
    /* background: #149d00; */
    /* padding-top: 10px; */
    display: flex;
    width: 100%;
}

.footerContato {
    /* margin: auto; */
    padding-top: 1vh;
    display: flex;
    width: 100%;
}

.footerContatoContent {
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.footerContatoTxt h2 {
    font-weight: normal;
    margin: 0;
    font-size: 2ch;
}

.footerContatoIcons {
    display: flex;
}

.footerContatoIconsContent {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.footerContatoIconsContent a div {
    transition-property: width;
    transition-duration: 0.1s;
    display: block;
    background: black;
    height: 1px;
    width: 0;
    margin: auto;
}

.footerContatoIconsContent a:hover div {
    width: 1.2em;
}

.footerContatoIconsContent img {
    max-width: 1.7em;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0px;
}

#face {
    content: url("../imgs/facebook.png");
}

#insta {
    content: url("../imgs/instagram.png");
}

#twitter {
    content: url("../imgs/twitter.png");
}

.footerTopo {
    margin: auto;
    display: flex;
}

.footerTopoContent {
    margin: auto;
}

.footerTopoContent a {
    font-size: 1.5ch;
}

.footerIntegrantes {
    margin: auto;
    display: flex;
    margin-bottom: 1.5em;
}

.footerIntegrantesContent {
    margin: auto;
    width: 95vw;
}

.footerIntegrantesContent hr {
    border: inset 1px rgba(0, 0, 0, 0.1);
}

.footerIntegrantesNomes p {
    margin: auto;
    width: 100%;
    text-align: center;
}

/* ----------------------- footer menu ----------------------  */

.footerMenuContent {
    height: 70px;
    /* background: #149d00; */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5ch;
    down: 0;
}

.menuFooter {
    /* background: red; */
    grid-area: menuFooter;
    /* display: flex; */
    width: 100%;
    padding: 0;
    margin: 0;
}

.menuFooter ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.menuFooter ul li {
    margin: 0;
    display: flex;
    /* height: 70px; */
    float: left;
    color: black;
    border: solid 1px #f5f5f5;
    cursor: pointer;
}

.menuFooter ul li a {
    /* font-weight: bold; */
    color: inherit;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menuFooter ul li#active {
    color: #fff;
    background: #1CCE00;
    font-weight: bold;
}

.menuFooter ul li#active:hover {
    background: rgb(30, 223, 0);
}

.menuFooter ul li:hover {
    background-color: #fff;
}

.menuFooter ul li:active {
    background-color: #eee;
}

.menuFooterMobile {
    /* background: red; */
    grid-area: menuFooterMobile;
    position: relative;
    text-align: right;
    width: 100%;
}

.menuFooterMobileButton {
    color: #1CCE00;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 1.5ch;
    margin: auto;
    outline: none;
    text-align: center;
    background-color: #f5f5f5;
    /* border-left: solid 1px #fcfcfc;
    border-right: solid 1px #fcfcfc; */
}

.menuFooterMobileButton:hover,
.menuFooterMobileButton:active {
    background-color: #f5f5f5;
    color: #149d00;
}

.menuFooterMobileContent {
    display: none;
    min-width: 60vw;
    background: #f4f4f4;
    position: absolute;
    right: 0;
    margin: 0;
    overflow: hidden;
    -webkit-box-shadow: -5px -9px 16px -5px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -5px -9px 16px -5px rgba(0, 0, 0, 0.19);
    box-shadow: -5px -9px 16px -5px rgba(0, 0, 0, 0.19);
    z-index: 1;
    text-align: center;
    /* font-weight: bold; */
}

.menuFooterMobileContent ul {
    padding: 0;
    margin: auto;
    overflow: hidden;
    /* background: #fcfcfc; */
    /* border: solid 1px #149d00; */
    /* border: solid 1px #f5f5f5; */
}

.menuFooterMobileContent ul li {
    list-style-type: none;
    display: flex;
    background: #f5f5f5;
    color: black;
    margin: 3px;
    cursor: pointer;
}

.menuFooterMobileContent ul li#btns {
    list-style-type: none;
    display: flex;
    background: none;
}

.menuFooterMobileContent ul li a {
    text-align: inherit;
    /* display: block; */
    margin: auto;
    width: 100%;
    color: inherit;
    padding: 15px;
}

.menuFooterMobileContent ul li#active {
    color: #fff;
    background: #1CCE00;
    font-weight: bold;
}

.menuFooterMobileContent ul li:hover {
    background-color: #fefefe;
}

.menuFooterMobileContent ul li:active {
    background-color: #eee;
}

.menuFooterMobileContentShow {
    display: block;
}

.menuFooterMobile a {
    text-decoration: none;
}

/*VERTICAL MOBILE*/
@media only screen and (max-width: 320px) {
    .footerMenuContent {
        height: 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "none menuFooterMobile";
        grid-column-gap: 0;
    }

    .menuFooterMobileContent {
        width: 100vw;
        bottom: 50px;
    }

    .marginBottom {
        bottom: 50px;
    }
}

@media only screen and (max-width: 390px) {
    @media only screen and (min-width: 321px) {
        .footerMenuContent {
            height: 50px;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "none menuFooterMobile";
            grid-column-gap: 0;
        }

        .menuFooterMobileContent {
            width: 95vw;
            bottom: 50px;
        }

        .marginBottom {
            bottom: 50px;
        }
    }
}

@media only screen and (max-width: 567px) {
    @media only screen and (min-width: 391px) {
        .footerMenuContent {
            height: 50px;
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "none menuFooterMobile";
            grid-column-gap: 0;
        }

        .menuFooterMobileContent {
            width: 90vw;
            bottom: 50px;
        }

        .marginBottom {
            bottom: 50px;
        }
    }
}

/*HORIZONTAL MOBILE*/
@media only screen and (max-width: 999px) {
    @media only screen and (min-width: 568px) {
        .footerMenuContent {
            height: 50px;
            display: grid;
            grid-template-columns: 5fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "none menuFooterMobile";
            grid-column-gap: 0;
        }

        .menuFooterMobileContent {
            width: 80vw;
            bottom: 50px;
        }

        @media only screen and (min-width: 681px) {

            .menuFooterMobileContent {
                width: 70vw;
            }
        }

        .marginBottom {
            bottom: 50px;
        }
    }
}

/*TABLET*/
@media only screen and (max-width: 1284px) {
    @media only screen and (min-width: 1000px) {
        .footerMenuContent {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "btns menuFooterMobile";
            grid-column-gap: 0;
        }

        .menuFooterMobileContent {
            min-width: 40vw;
            bottom: 70px;
        }

        .marginBottom {
            bottom: 70px;
        }
    }
}

/*PC*/
@media only screen and (min-width: 1285px) {
    .footerMenuContent {
        height: 70px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menuFooter btns";
        grid-column-gap: 0;
    }

    .menuFooterMobileContent {
        min-width: 40vw;
        bottom: 70px;
    }

    .marginBottom {
        bottom: 70px;
    }
}

.btns ul li a {
    padding: 0;
}